<div class="w3-container">
    <h1 class="w3-text">Fotoboek vir: Ek moet nog die name ding uitfigure</h1>
</div>
<div class="w3-container">
    <div *ngFor="let bladsy of FotoBoek; index as i" class="w3-display-container w3-border w3-padding w3-row-padding">
        <p class="w3-text">Bladsy {{ i + 1 }}</p>
        <button (click)="removePage(i)" class="w3-button w3-display-topright">&times;</button>
        <div style="display: flex; flex-wrap: wrap;">

            <div *ngFor="let foto of bladsy; index as j" class="w3-display-container w3-col m4 s6 w3-card-4">
                <img *ngIf="!StockFotos[i][j]" src="assets/{{foto}}.png" style="width: 100%;" /> 
                <img *ngIf="StockFotos[i][j]" [src]="foto" style="width: 100%;" /> 
                <button (click)="removeImage(i, foto)" class="w3-display-topleft w3-btn w3-margin w3-circle w3-black">X</button>
            </div>

            <div class="w3-col s6 m4 w3-display-container w3-padding" style="min-height: 100px;">
                <button (click)="addImage(i)" class="w3-btn w3-circle w3-black w3-xlarge w3-display-middle" style="margin: auto; min-height: 50;">+</button>
            </div> 
        </div>        
    </div>
    <div class="w3-col w3-display-container w3-padding" style="min-height: 100px;">
        <button (click)="addPage()" class="w3-btn w3-round-large w3-black w3-xlarge w3-display-middle" style="margin: auto; min-height: 50;">+ Bladsy</button>
    </div> 
</div>

<div class="w3-modal" style="display: {{ showModal }}">
    <div class="w3-modal-content">
        <div class="w3-container w3-padding">
            <button (click)="showModal = 'none'" class="w3-button w3-display-topright">&times;</button>
            <p>Sleutel die nommer van die foto in</p>
            <div class="w3-row">
                <input #fotoNommer class="w3-input w3-threequarter" type="text" />
                <button (click)="newImage(fotoNommer.value); fotoNommer.value = ''" class="w3-button w3-padding w3-black">Kies foto</button>
            </div>  
            <p>OF</p>
            <p>Kies jou eie foto</p>
            <div class="w3-row">
                <input #fotoCustom class="w3-input w3-threequarter" type="file" accept="image/*" />
                <button (click)="newCustomImage(fotoCustom); fotoNommer.value = ''" class="w3-button w3-padding w3-black">Kies Eie foto</button>
            </div> 
        </div>  
    </div>
</div>